<% unless @feed_items.empty? %>
  <div id="posts" summary="User posts">
    <%= render :partial => 'shared/feed_item', :collection => @feed_items %>
  </div>
  <%= will_paginate @feed_items %>
<% end %>
