<div class="post">
    <span class="content"><%= micropost.content %></span>
    <span class="timestamp">
      Posted in <%= micropost.created_at.strftime("%B %Y") %>.
    </span>
</div>
  <% user = micropost.user rescue User.find(micropost.user_id) %>
  <% if current_user?(user) %>
  <div class="delete">
    <%= link_to "delete", micropost, :method => :delete,
                                     :confirm => "You sure?",
                                     :title => micropost.content %>
  </div>
  <% end %>
